/.settings/
.project

mybatis-demo-01/.settings/
mybatis-demo-01/.project
mybatis-demo-01/.classpath
mybatis-demo-01/target/


mybatis-demo-02/.settings/
mybatis-demo-02/.project
mybatis-demo-02/.classpath
mybatis-demo-02/target/
