<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<properties resource="db.properties" />

	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<!-- 别名设置 （重点内容）  -->
	<typeAliases>
	
	<!-- 	<typeAlias type="com.shsxt.pojo.User"/> -->
		<!-- 包扫描 -->
		<package name="com.shsxt.pojo"/>
	</typeAliases>
	
	<!-- 
		注意一些别名：
			int	Integer
			double	Double
			float	Float
			string	String
			list	List
			map		Map
	 -->
	 
	 <typeHandlers>
	 	<typeHandler handler="com.shsxt.handler.ExampleTypeHandler"/>
	 </typeHandlers>


	<!-- 添加数据库连接相关配置信息 -->
	<environments default="development">
		<environment id="development">
			<!-- 加入事务控制 -->
			<transactionManager type="jdbc" />
			<!-- 配置数据库连接信息 -->
			<dataSource type="pooled">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.name}" />
				<property name="password" value="${jdbc.pwd}" />
			</dataSource>
		</environment>
	</environments>

	<!-- SQL映射文件地址 -->

	<mappers>
		<mapper resource="com/shsxt/mappper/UserMapper.xml" /> <!-- 文件的路径 -->
	</mappers>

</configuration>